<!-- TODO: item card with picture, name; wrapped in a clickable container that redirects to item instance page  -->
<div class="c-item-card">
    <a href="<%= item.url %>">
        <h1><%= item.title %></h1>
        <p><%= item.description %></p>
    </a>

    <form action="/item/<%= item._id %>/update" method="GET">
        <button type="submit">Update</button>
    </form>
</div>
