<!-- TODO: replace ID -->

<div class="c-popup">
    <div class="c-popup__close">
        <i class="fa-sharp fa-solid fa-circle-xmark"></i>
    </div>
    <% if (document.protected) { -%>
        <form action="/api<%= document.url %>/delete" method="POST">
            <div>
                <label for="admin">Please type in Admin Password:</label>
                <input type="password" name="admin" id="admin" />
                <input type="hidden" name="documentid" value="<%= document._id %>">
            </div>
            <button type="submit">Delete</button>
        </form>
    <% } else { -%>
        <form action="<%= document.url %>/delete" method="POST">
            <input type="hidden" name="documentid" value="<%= document._id %>">
            <p>Are You sure you want to delete this item?</p>
            <button type="submit">Delete</button>
        </form>
    <% } -%>
</div>

<div class="c-overlay"></div>