<%- include('partials/_header' , { url })  %>

<!-- TODO: some information about this project-->
<div class="lg:w-full lg:max-w-4xl lg:mx-auto lg:my-0 mx-3 sm:mx-5 md:mx-10 c-about">
    <h1 class="text-3xl sm:text-4xl md:text-5xl mb-5 sm:mb-8 md:mb-10 font-bold">About this project</h1>
    <p>xxxx</p>
</div>

<%- include('partials/_footer')  %>
