$hspace: 20px;
$vspace: 20px;

$font-size: 16px;
$font-size-small: 14px;
$font-size-medium: 22px;
$font-size-large: 32px;
$font-size-xlarge: 46px;

// primary color, warning, danger, green
$color-primary: #d3a55f;
$color-secondary: #64b2fa;
$color-border: #cecece5d;
$color-light: #828282;
$color-dark: #3c4856;
$color-bg: #c5c5c5;
$color-add: #ffffff;
$color-danger: #e6575c;