@import 'reset';
@import 'variables';

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
header {
    margin-bottom: $vspace*2;
}
a {
    text-decoration: none;
}
h1 {
    font-size: $font-size-xlarge;
    font-weight: 700;
    margin-bottom: $vspace*2;
}
footer {
    width: 100%;
    padding: $vspace*2 0;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: $color-dark;
    color: #ffffff;
    font-size: $font-size-small;
    font-weight: 300;
}

.o-wrap {
    width: 800px;
    margin: 0 auto;
}

.c-btn {
    cursor: pointer;
    border: none;
    padding: $vspace/2 $hspace;
    border-radius: 5px;
    color: #ffffff;
    font-size: $font-size-small;
    transition: all .1s ease-in-out;

    &:hover {
        opacity: .8;
        scale: 1.05;
    }
}
.c-btn--add {
    background-color: $color-secondary;
}

.c-nav {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    li {
        width: 25%;
        padding: $vspace 0;
        text-align: center;
        border: 1px solid #ffffff;
        border-radius: 5px;
        transition: all .1s ease-in;

        &:hover {
            scale: 1.1;
            border-color: $color-border;
            box-shadow: 0px 7px 6px -6px rgba(0,0,0,0.9);
        }
    }
    a {
        color: $color-light;
        text-decoration: none;
    }
}

.c-category__info {
    margin-bottom: $vspace*3;
    padding-bottom: $vspace*2;
    border-bottom: 1px solid $color-dark;
}
.c-category__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.c-category__list__item {
    width: 33.33%;
    margin-bottom: $vspace*2;
    text-align: center;

    a {
        display: inline-block;
        padding: $vspace/2 $hspace;
        color: #ffffff;
        background-color: $color-primary;
        border-radius: 5px;
        transition: all .1s ease-in-out;
        &:hover {
            opacity: .8;
            scale: 1.2;
        }
    }
}

.c-popup {
    max-width: 400px;
    height: 300px;
    padding-top: 30px;
    position: absolute;
    z-index: 5;
    top: -1700px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aquamarine;
    transition: all 1s ease-in-out;
    
    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input {
        flex: 1;
    }
    button {
        width: 100%;
    }
}

.c-popup.isActive {
    top: 50%;
}
.c-popup__close {
    cursor: pointer;
    position: absolute;
    right: -15px;
    top: -15px;

    i {
        font-size: 30px;
        color: red;
    }
}

.c-overlay {
    position: absolute;
    z-index: -5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: none;
    transition: all 1s ease-in-out;
}
.c-overlay.isActive {
    z-index: 4;
    top: -50vh;
    bottom: -50vh;
    left: -50vw;
    right: -50vw;
    opacity: .5;
    background-color: #434343;
}