/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  margin-bottom: 40px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 40px;
}

footer {
  width: 100%;
  padding: 40px 0;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #3c4856;
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}

.o-wrap {
  width: 800px;
  margin: 0 auto;
}

.c-btn {
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.c-btn:hover {
  opacity: .8;
  scale: 1.05;
}

.c-btn--add {
  background-color: #64b2fa;
}

.c-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-nav li {
  width: 25%;
  padding: 20px 0;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 5px;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.c-nav li:hover {
  scale: 1.1;
  border-color: #cecece5d;
  -webkit-box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 7px 6px -6px rgba(0, 0, 0, 0.9);
}

.c-nav a {
  color: #828282;
  text-decoration: none;
}

.c-category__info {
  margin-bottom: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid #3c4856;
}

.c-category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-category__list__item {
  width: 33.33%;
  margin-bottom: 40px;
  text-align: center;
}

.c-category__list__item a {
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #d3a55f;
  border-radius: 5px;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.c-category__list__item a:hover {
  opacity: .8;
  scale: 1.2;
}

.c-popup {
  max-width: 400px;
  height: 300px;
  padding-top: 30px;
  position: absolute;
  z-index: 5;
  top: -1700px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: aquamarine;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.c-popup div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-popup input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-popup button {
  width: 100%;
}

.c-popup.isActive {
  top: 50%;
}

.c-popup__close {
  cursor: pointer;
  position: absolute;
  right: -15px;
  top: -15px;
}

.c-popup__close i {
  font-size: 30px;
  color: red;
}

.c-overlay {
  position: absolute;
  z-index: -5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: none;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.c-overlay.isActive {
  z-index: 4;
  top: -50vh;
  bottom: -50vh;
  left: -50vw;
  right: -50vw;
  opacity: .5;
  background-color: #434343;
}
/*# sourceMappingURL=style.css.map */